<app-header [title]="title"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Subtitle</ion-card-subtitle>
            <ion-card-title>Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>This is your profile.</p>
            <ion-list>
                <ion-item>
                    <ion-label>Username :</ion-label>
                    <ion-input readonly [value]="currentUser.username || 'None'" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Email :</ion-label>
                    <ion-input readonly [value]="currentUser.email || 'None'" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>First name :</ion-label>
                    <ion-input readonly [value]="currentUser.firstName || 'None'" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Last name :</ion-label>
                    <ion-input readonly [value]="currentUser.lastName || 'None'" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Role :</ion-label>
                    <ion-input readonly [value]="currentUser.role || 'None'" type="text"></ion-input>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>

<app-footer></app-footer>
