<app-header [title]="title"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Please confirm
            </ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="facility">
            <ion-list>
                <ion-item>
                    <ion-label>Facility</ion-label>
                    {{facility.name}}
                </ion-item>
                <ion-item>
                    <ion-label>Date</ion-label>
                    {{teetime | date:'MMM d, yyyy'}}
                </ion-item>
                <ion-item>
                    <ion-label>Teetime</ion-label>
                    {{teetime | date:'H:m'}}
                </ion-item>
                <ion-item>
                    <ion-label>Players</ion-label>
                    {{players}}
                </ion-item>
                <ion-item>
                    <ion-label>Holes</ion-label>
                    {{holes}}
                </ion-item>
                <ion-item>
                    <ion-button color="primary" (click)="onSubmit()">Book</ion-button>
                    <ion-button color="secondary" (click)="onCancel()">Cancel</ion-button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card class="hotels">
        <ion-card-content *ngIf="facility">
            <app-hotels [facilityId]="facility.id"></app-hotels>
        </ion-card-content>
    </ion-card>
</ion-content>

<app-footer></app-footer>
