<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ title }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Please confirm
            </ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="facility">
            <ion-list>
                <ion-item>
                    <ion-label>Facility</ion-label>
                    {{facility.name}}
                </ion-item>
                <ion-item>
                    <ion-label>Date</ion-label>
                    {{teetime | date:'yyyy-MM-dd'}}
                </ion-item>
                <ion-item>
                    <ion-label>Teetime</ion-label>
                    {{teetime | date:'H:m'}}
                </ion-item>
                <ion-item>
                    <ion-label>Players</ion-label>
                    {{players}}
                </ion-item>
                <ion-item>
                    <ion-label>Holes</ion-label>
                    {{holes}}
                </ion-item>
                <ion-item>
                    <ion-label>Round</ion-label>
                    <ion-select (ionChange)="changeRound($event)" interface="popover">
                        <ion-select-option *ngFor="let value of [1,2,3,4]" [selected]="value === round"
                                           [value]="value">{{value}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-button color="primary" (click)="onSubmit()">Book</ion-button>
                    <ion-button color="secondary" (click)="onCancel()">Cancel</ion-button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>

<app-footer></app-footer>
