<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ title }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/home">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="facility">
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    <ion-toolbar>
                        {{facility.name}}<br/>
                        <ion-button class="teetimes" color="primary" size="small" (click)="onClick()">Teetimes
                        </ion-button>
                    </ion-toolbar>
                </ion-card-title>
                <div *ngIf="facility.address.address1">
                    <div>
                        {{ facility.address.address1 }} {{ facility.address.number }} {{ facility.address.addition }}
                    </div>
                    <div>
                        {{ facility.address.zipcode }} {{ facility.address.place }}
                    </div>
                    <div>
                        {{ facility.address.state }}, {{ facility.address.country }}
                    </div>
                </div>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item *ngIf="facility.description">
                        {{facility.description }}
                    </ion-item>
                    <ion-item *ngIf="facility.foundedIn">
                        Founded in {{facility.foundedIn}}
                    </ion-item>
                    <ion-item *ngIf="facility.phoneNumber">
                        <ion-icon slot="start" name="call"></ion-icon>
                        <ion-label>{{ facility.phoneNumber }}</ion-label>
                    </ion-item>
                    <ion-item *ngIf="facility.email">
                        <ion-icon slot="start" name="mail"></ion-icon>
                        <ion-label><a href="mailto:{{facility.email}}">{{ facility.email }}</a></ion-label>
                    </ion-item>
                    <ion-item *ngIf="facility.website">
                        <ion-icon slot="start" name="globe"></ion-icon>
                        <ion-label><a href="http://{{facility.website}}" target="_blank">{{ facility.website }}</a>
                        </ion-label>
                    </ion-item>
                    <ion-item *ngIf="facility.longitude">
                        <ion-icon slot="start" name="pin"></ion-icon>
                        <ion-label>{{ facility.longitude }} {{ facility.latitude }}
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Services</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngIf="facility && facility.services">
                <ion-badge color="medium">Mid: {{facility.services.mid}}</ion-badge>
                <ion-badge *ngIf="facility.services.drivingRange" color="medium">Driving range</ion-badge>
                <ion-badge *ngIf="facility.services.chippingArea" color="medium">Chipping area</ion-badge>
                <ion-badge *ngIf="facility.services.puttingGreen" color="medium">Putting green</ion-badge>
                <ion-badge *ngIf="facility.services.proShop" color="medium">Pro shop</ion-badge>
                <ion-badge *ngIf="facility.services.golfSchool" color="medium">Golf school</ion-badge>
                <ion-badge *ngIf="facility.services.golfBuggy" color="medium">Golf buggy</ion-badge>
                <ion-badge *ngIf="facility.services.pushTrolley" color="medium">Push trolley</ion-badge>
                <ion-badge *ngIf="facility.services.electricTrolley" color="medium">Electric trolley</ion-badge>
                <ion-badge *ngIf="facility.services.golfClubRentals" color="medium">Golf club rentals</ion-badge>
                <ion-badge *ngIf="facility.services.caddies" color="medium">Caddies</ion-badge>
                <ion-badge *ngIf="facility.services.restaurant" color="medium">Restaurant</ion-badge>
                <ion-badge *ngIf="facility.services.bar" color="medium">Bar</ion-badge>
                <ion-badge *ngIf="facility.services.lockerRoom" color="medium">Locker room</ion-badge>
                <ion-badge *ngIf="facility.services.wifi" color="medium">Wifi</ion-badge>
                <ion-badge *ngIf="facility.services.shuttleService" color="medium">Shuttle service</ion-badge>
            </ion-card-content>
        </ion-card>

        <ion-card class="logo" *ngIf="facility.logo">
            <ion-card-header>
                <ion-card-title>Logo</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <img [src]="facility.logo" alt="logo"/>
            </ion-card-content>
        </ion-card>

        <ion-card class="images" *ngIf="facility.images && facility.images.length">
            <ion-card-header>
                <ion-card-title>Images</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <img *ngFor="let image of facility.images" [src]="image" alt="image"/>
            </ion-card-content>
        </ion-card>

        <ion-card class="hotels">
            <ion-card-header>
                <ion-card-title>Hotels nearby</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item *ngFor="let hotel of hotels">
                        <ion-label>{{hotel.name}} ({{hotel.distance}} kms)</ion-label>
                        <ion-icon class="star" *ngFor="let i of [].constructor(hotel.stars)" name="star"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>

<app-footer></app-footer>
