.login-card img {
  max-height: 35vh;
  overflow: hidden;
}

.login-card hr {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #d3d3d3;
}

ion-label {
  color: darkgray !important;
}
