<app-header [title]="title"></app-header>

<ion-content>
    <ion-card class="home-card">
        <img src="/assets/images/logo.jpg" alt=""/>
        <ion-card-header>
            <ion-card-title>Choose a country.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Connected facilities</ion-label>
                    <ion-checkbox checked (ionChange)="toggleFacilities($event)"></ion-checkbox>
                </ion-item>
            </ion-list>
            <ion-button *ngFor="let country of countries" (click)="onClick(country)">{{country}}</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>

<app-footer></app-footer>
