<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ title }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="teetimes">
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Choose a teetime.
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button color="primary" size="small" (click)="changeDate(-1)">
                            <ion-icon name="arrow-dropleft-circle"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <div class="centered">{{bookingDate | date }}</div>
                    <ion-buttons slot="end">
                        <ion-button color="primary" size="small" (click)="changeDate(1)">
                            <ion-icon name="arrow-dropright-circle"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Date</ion-label>
                    <ion-datetime [value]="bookingDate"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>Players</ion-label>
                    <ion-select (ionChange)="changePlayers($event)" interface="popover">
                        <ion-select-option *ngFor="let value of [1,2,3,4]" [selected]="value === +players"
                                           [value]="value">{{value}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Holes</ion-label>
                    <ion-select (ionChange)="changeHoles($event)" interface="popover">
                        <ion-select-option *ngFor="let value of [9, 18]" [selected]="value === +holes"
                                           [value]="value">{{value}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="teetimes.length">
        <ion-card-header>
            <ion-card-title *ngIf="!teetimes.length">No teetimes found.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div *ngFor="let shift of ['morning', 'afternoon', 'evening']">
                <div *ngIf="teetimesShift(shift).length">{{shift.toUpperCase()}}</div>
                <ion-button *ngFor="let teetime of teetimesShift(shift)" size="small"
                            (click)="clickTeetime(teetime)">{{teetime.time | date:'H:m'}}</ion-button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>

<app-footer></app-footer>
