<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ title }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="teetimes">
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button color="primary" size="small" (click)="setDate(-1)">
                            <ion-icon name="arrow-dropleft-circle"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <div class="centered">{{bookingDate | date }}</div>
                    <ion-buttons slot="end">
                        <ion-button color="primary" size="small" (click)="setDate(1)">
                            <ion-icon name="arrow-dropright-circle"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <span *ngIf="teetimes.length">Found {{teetimes.length}} teetimes.</span>
            <span *ngIf="!teetimes.length">No teetimes found.</span>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="teetimes.length">
        <ion-card-header>
            <ion-card-title>Choose a teetime</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-button *ngFor="let teetime of teetimes" size="small"
                        (click)="clickTeetime(teetime)">{{teetime.time.substr(-8, 5)}}</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>

<app-footer></app-footer>
